body {
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

header h1 {
  transform: rotate(-4deg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: .2rem 1rem;
  margin-bottom: 2rem;
  color: goldenrod;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 1000rem;
  max-width: 250px;
}

main {
  padding: 1rem;
}

footer {
  margin-top: auto;
  background: rgb(236, 236, 236);
  padding: 1.5rem 1rem;
}

footer a {
  margin-left: 3rem;
}